#settings a
	float right !important
	margin-right 0 !important
	margin-left -1px !important
	width 100px
	text-align center
	padding 5px 0px !important
	border-radius 0px !important

	&.active
		background-color MainColor !important
		color MainColorForward !important
		border-color MainColor !important
