MainColor = #a83e3e
MainFont = 'Rajdhani', sans-serif
MainColorForward = #FFF
MainFontSize = 13
MainBorderRadius = 3
MainColorSpec = #6a768e

body
	margin 0
	padding 0
	font-size MainFontSize px
	font-family MainFont

div
li
ul
a
input
:before
	transition all .3s cubic-bezier(.25, .8, .25, 1)
	box-sizing border-box
	font-family MainFont
	text-transform uppercase
	font-weight 500
	user-select none

ul
li
	padding 0
	margin 0

::-webkit-scrollbar
	width: 5px

	&:hover
		width 15px

::-webkit-scrollbar-track
	background-color lighten(MainColor, 10%)

::-webkit-scrollbar-thumb
	background-color lighten(MainColor, 25%)

#loader
	position fixed
	width 100%
	display none
	height -webkit-calc(100vh - 40px)
	top 40px
	transition none
	left 0
	z-index 9999999
	border-top 1px solid lighten(MainColor, 10%)
	background-color MainColor

	& > div
		width 40px
		height 40px
		-webkit-mask-size 40px
		-webkit-mask-image url(../images/logo.svg)
		-webkit-mask-repeat no-repeat
		display table-cell
		-webkit-mask-position center
		background-color MainColorForward
		-webkit-animation ld-breath 1s infinite
		animation ld-breath 1s infinite

@keyframes ld-breath{
	0%, to {
		-webkit-transform:scale(2);
		transform:scale(2)
	}
	50% {
		-webkit-transform:scale(1);
		transform:scale(1)
	}
}

.loader-on
	display table !important

.hidden
	display none
